*.iml
.idea
tmp
logs
dependency-reduced-pom.xml
velocity.log
*~
merge-yml.log
target/surefire
target/surefire-reports

target/classes
target/test-classes
target/original-mergeyml-1.0.0-SNAPSHOT.jar
target/maven-archiver
